/* LESS Document */
/* LESS Document */
@tablet (min-width: 500px);
@computer (min-width: 800px);
/* LESS Document */
/* LESS Document */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* LESS Document */
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'mrs-eaves', san-serif;
  font-style: normal;
  font-weight: 400;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Litania', serif;
  font-style: normal;
  font-weight: 400;
  color: #1961AC;
}
h1 {
  font-size: 4rem;
  padding: 10px 0;
  display: flex;
  justify-content: center;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
}
h3 {
  font-size: 2.8rem;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
}
h5 {
  font-size: 2.1rem;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
hr {
  display: flex;
  align-content: center;
  height: 4px;
  width: 80%;
  border-color: linear-gradient(to right, #40593C, #1961AC);
  border: solid;
}
.container {
  max-width: 90%
	width: 100%;
  margin: 0 auto;
}
/* LESS Document */
nav {
  border-bottom: 2px solid #40593C;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  align-items: baseline;
  width: 100%;
  margin: 0 auto;
  background-image: linear-gradient(to right, #40593C, #1961AC);
}
nav .navbar {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 95%;
}
@media (min-width: 500px) {
  nav .navbar {
    flex-flow: column wrap;
    justify-content: space-between;
  }
}
@media (min-width: 800px) {
  nav .navbar {
    flex-flow: row nowrap;
    justify-content: space-between;
  }
}
nav .navbar .siteLogo {
  dispaly: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 2% 5%;
}
@media (min-width: 500px) {
  nav .navbar .siteLogo {
    flex-flow: row wrap;
    justify-content: center;
  }
}
@media (min-width: 800px) {
  nav .navbar .siteLogo {
    flex-flow: row nowrap;
    justify-content: flex-start;
    width: 47%;
  }
}
nav .navbar .navLinks {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}
@media (min-width: 500px) {
  nav .navbar .navLinks {
    flex-flow: row wrap;
  }
}
@media (min-width: 800px) {
  nav .navbar .navLinks {
    flex-flow: row wrap;
    width: 40%;
  }
}
nav .navbar .navLinks a {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  text-decoration: none;
  color: #F0F2EF;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
@media (min-width: 500px) {
  nav .navbar .navLinks a {
    padding-bottom: 0;
  }
}
/* LESS Document */
.footer {
  width: 100%;
  border-top: 2px solid linear-gradient(to right, #40593C, #1961AC);
  background: linear-gradient(to right, #40593C, #1961AC);
  padding: 30px 20px;
  color: #F0F2EF;
  display: flex;
  justify-content: space-around;
  font-size: 1.5rem;
  font-weight: bold;
}
.footer ol,
.footer ul {
  list-style: none;
}
.footer .fa-facebook-square:before {
  content: "\f082";
}
.footer .fa-twitter-square:before {
  content: "\f081";
}
.footer .fa-instagram:before {
  content: "\f16d";
}
.footer .box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.footer .box h5 {
  margin: 0 0 10px;
  color: #F0F2EF;
}
.footer .box .social li {
  display: flex;
  align-items: center;
  margin: 0 0 7px;
}
.footer .box .social i:after {
  content: "\00a0";
}
.footer .box .links a {
  text-decoration: none;
  color: #F0F2EF;
}
/* LESS Document */
header {
  width: 100%;
  margin: 0 auto;
}
header .headContent {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding-bottom: 20px;
}
header .headContent img {
  margin-top: 0;
  margin-bottom: 10px;
}
header .headContent .headText {
  display: flex;
  flex-flow: row wrap;
  width: 80%;
}
.statContainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-content: center;
  width: 95%;
  padding: 10px;
}
.statContainer .statImg {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  width: 400px;
  height: auto;
}
@media (min-width: 500px) {
  .statContainer .statImg {
    width: 500px;
  }
}
.byNumbers {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding-bottom: 20px;
}
.byNumbers .refugees {
  display: flex;
  flex-flow: row wrap;
  width: 80%;
}
.defineContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  padding: 20px 0;
  margin: 20px 0;
}
@media (min-width: 500px) {
  .defineContainer {
    flex-flow: column wrap;
    justify-content: center;
  }
}
@media (min-width: 800px) {
  .defineContainer {
    flex-flow: column wrap;
    justify-content: center;
  }
}
.defineContainer h2 {
  display: flex;
  justify-content: center;
}
.defineContainer .define {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: space-between;
  align-items: flex-start;
  width: 80%;
}
@media (min-width: 500px) {
  .defineContainer .define {
    width: 100%;
  }
}
.defineContainer .define h3 {
  display: flex;
  justify-content: center;
}
.defineContainer .define .text-content {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: space-between;
  align-items: flex-start;
}
@media (min-width: 500px) {
  .defineContainer .define .text-content {
    flex-flow: column wrap;
    justify-content: center;
    padding: 2%;
    width: 40%;
  }
}
@media (min-width: 800px) {
  .defineContainer .define .text-content {
    flex-flow: column wrap;
    justify-content: center;
    padding: 2%;
    width: 40%;
  }
}
.defineContainer .explain {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: space-between;
  align-items: flex-start;
}
.defineContainer .explain h3 {
  display: flex;
  justify-content: center;
}
.defineContainer .explain .text-content {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: space-between;
  align-items: flex-start;
  width: 80%;
}
.storiesContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  padding: 20px 0 0;
  margin: 20px 0;
  width: 100%;
}
@media (min-width: 500px) {
  .storiesContainer {
    flex-flow: column wrap;
    justify-content: center;
  }
}
@media (min-width: 800px) {
  .storiesContainer {
    flex-flow: column wrap;
    justify-content: center;
  }
}
.storiesContainer h2 {
  display: flex;
  justify-content: center;
}
.storiesContainer .storiesHead {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
}
.storiesContainer .storiesHead .headTxt {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  width: 80%;
}
.storiesContainer .stories-section {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: center;
  align-items: flex-start;
  padding: 0 10px;
  background: #1961AC;
}
@media (min-width: 500px) {
  .storiesContainer .stories-section {
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: space-between;
  }
}
@media (min-width: 800px) {
  .storiesContainer .stories-section {
    flex-flow: row nowrap;
    justify-content: space-between;
    align-content: space-between;
  }
}
.storiesContainer .stories-section .story1,
.storiesContainer .stories-section .story2,
.storiesContainer .stories-section .story3 {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: center;
  align-items: flex-start;
  padding-bottom: 10px;
  color: #F0F2EF;
  font-weight: bold;
}
@media (min-width: 500px) {
  .storiesContainer .stories-section .story1,
  .storiesContainer .stories-section .story2,
  .storiesContainer .stories-section .story3 {
    flex-flow: column wrap;
    padding-bottom: 0;
    padding-right: 20px;
    max-width: 30%;
  }
}
@media (min-width: 800px) {
  .storiesContainer .stories-section .story1,
  .storiesContainer .stories-section .story2,
  .storiesContainer .stories-section .story3 {
    flex-flow: column wrap;
    padding-bottom: 0;
    padding-right: 20px;
    max-width: 30%;
  }
}
.storiesContainer .stories-section .story1 img,
.storiesContainer .stories-section .story2 img,
.storiesContainer .stories-section .story3 img {
  display: flex;
  justify-content: center;
  max-height: auto;
  border-radius: 10px;
  padding: 10px 0 10px;
}
.btn {
  flex-flow: row nowrap;
  align-content: space-around;
  align-items: center;
  background: linear-gradient(to right, #40593C, #1961AC);
  border: 2px solid linear-gradient(to right, #40593C, #1961AC);
  border-radius: 10px;
  padding: 10px 20px;
  margin: 20px 0;
  width: 200px;
  height: 75px;
  font-size: 2rem;
  font-weight: bolder;
  color: #F0F2EF;
  box-shadow: 3px 3px 3px 3px #40593C;
  display: flex;
  justify-content: center;
}
.btn:hover {
  background: linear-gradient(to right, #1961AC, #40593C);
}
.hText {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: center;
  padding: 20px 0 0;
  font-size: 2.5rem;
  font-weight: bolder;
}
.hText h2 {
  display: flex;
  justify-content: center;
}
.hText p {
  display: flex;
  justify-content: center;
}
.team {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: center;
  align-items: flex-start;
  padding-bottom: 20px;
  width: 100%;
}
@media (min-width: 500px) {
  .team {
    flex-flow: row wrap;
    justify-content: center;
  }
}
@media (min-width: 800px) {
  .team {
    flex-flow: row wrap;
    justify-content: center;
  }
}
.team h2 {
  width: 100%;
}
.team .teamMember {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 0 0 20px;
  width: 100%;
}
@media (min-width: 500px) {
  .team .teamMember {
    flex-flow: column wrap;
    width: 47%;
    padding-right: 20px;
  }
}
@media (min-width: 800px) {
  .team .teamMember {
    flex-flow: column wrap;
    width: 30%;
    padding-right: 20px;
  }
}
.team .teamMember img {
  display: flex;
  justify-content: center;
  max-height: 200px;
  width: auto;
  padding-bottom: 20px;
}
.team .teamMember .bio {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: flex-start;
  width: 90%;
}
.team .teamMember .bio h4 {
  width: 100%;
}
