/* LESS Document */
/* LESS Document */
@tablet (min-width: 500px);
@computer (min-width: 800px);
/* LESS Document */
/* LESS Document */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* LESS Document */
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'mrs-eaves', san-serif;
  font-style: normal;
  font-weight: 400;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Litania', serif;
  font-style: normal;
  font-weight: 400;
  color: #1961AC;
}
h1 {
  font-size: 4rem;
  padding: 10px 0;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h3 {
  font-size: 2.8rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 90%
	width: 100%;
  margin: 0 auto;
}
/* LESS Document */
nav {
  border-bottom: 2px solid #40593C;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  align-items: baseline;
  width: 100%;
  margin: 0 auto;
  background-image: linear-gradient(to right, #40593C, #1961AC);
}
nav .navbar {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  width: 95%;
}
nav .navbar .siteLogo {
  dispaly: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 47%;
  height: auto;
  padding: 2% 5%;
}
nav .navbar .navLinks {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 30%;
}
nav .navbar .navLinks a {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  text-decoration: none;
  color: #F0F2EF;
  font-size: 1.6rem;
}
/* LESS Document */
.footer {
  width: 100%;
  border-top: 2px dashed silver;
  background: #40593C;
}
.footer p {
  text-align: center;
  color: #4A4A49;
  font-size: 1.6rem;
  padding: 20px;
}
/* LESS Document */
header {
  width: 100%;
  margin: 0 auto;
}
header .headContent {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding-bottom: 20px;
}
header .headContent img {
  margin-top: 0;
  margin-bottom: 10px;
}
header .headContent .headText {
  display: flex;
  flex-flow: row wrap;
  width: 80%;
}
.statContainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-content: center;
  width: 95%;
  padding: 10px;
}
.statContainer .statImg {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  width: 500px;
}
.byNumbers {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding-bottom: 20px;
}
.byNumbers .refugees {
  display: flex;
  flex-flow: row wrap;
  width: 80%;
}
.defineContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding-bottom: 20px;
}
.defineContainer .define {
  display: flex;
  flex-flow: column wrap;
  width: 80%;
}
.defineContainer .define .text-content {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 10px;
}
@media (min-width: 500px) {
  .defineContainer .define .text-content {
    flex-flow: row wrap;
    justify-content: space-between;
  }
}
@media (min-width: 800px) {
  .defineContainer .define .text-content {
    flex-flow: row nowrap;
  }
}
.storiesContainer {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: space-around;
  align-items: center;
  width: 100%;
  background: #40593C;
  padding: 10px;
  margin: 80%;
}
@media (min-width: 500px) {
  .storiesContainer {
    flex-flow: row wrap;
    justify-content: space-between;
  }
}
@media (min-width: 800px) {
  .storiesContainer {
    flex-flow: row nowrap;
  }
}
.storiesContainer .stories-section {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  margin: 33%;
  padding: 10px;
}
@media (min-width: 500px) {
  .storiesContainer .stories-section {
    flex-flow: row nowrap;
    justify-content: space-between;
  }
}
@media (min-width: 800px) {
  .storiesContainer .stories-section {
    flex-flow: row nowrap;
  }
}
.storiesContainer .stories-section .storiesImg {
  max-height: 200px;
  width: auto;
  border-radius: 10px;
}
.storiesContainer .stories-section .story {
  display: flex;
  justify-content: center;
  align-content: center;
}
.btn {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-content: space-around;
  align-items: center;
  background: #1961AC;
  border: 2px solid #17599f;
  border-radius: 10px;
  padding: 10px 20px;
  margin: 5%;
  color: aquamarine;
}
.btn:hover {
  background: #13487f;
}
