/* LESS Document */

header {
	width: 100%;
	margin: 0 auto;
	
	.headContent {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		padding-bottom: 20px;
		
		img {
			margin-top: 0;
			margin-bottom: 10px;
		}
		
		.headText {
			display: flex;
			flex-flow: row wrap;
			width: 80%;
		}
	}
}

.statContainer {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-content: center;
	width: 95%;
	padding: 10px;
	
	.statImg {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		align-content: center;
		width: 400px;
		height: auto;
		
		@media (min-width: 500px) {
			width: 500px;
		}
	}
}

.byNumbers {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	padding-bottom: 20px;
	
	.refugees {
		display: flex;
		flex-flow: row wrap;
		width: 80%;
	}
}

.defineContainer {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-content: center;
	padding: 20px 0;
	margin: 20px 0;
	
	@media (min-width: 500px) {
		flex-flow: column wrap;
		justify-content: center;
	}
	
	@media (min-width: 800px) {
		flex-flow: column wrap;
		justify-content: center;
	}
	
	h2 {
		display: flex;
		justify-content: center;
	}
	
	.define {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		align-content: space-between;
		align-items: flex-start;
		
		h3 {
			display: flex;
			justify-content: center;
		}
		
		.text-content {
			display: flex;
			flex-flow: row wrap;
			justify-content: center;
			align-content: space-between;
			align-items: flex-start;
			
			@media (min-width: 500px) {
				flex-flow: column wrap;
				justify-content: center;
				padding: 2%;
				width: 40%;
			}
			
			@media (min-width: 800px) {
				flex-flow: column wrap;
				justify-content: center;
				padding: 2%;
				width: 40%;
				
			}
		}
	}
	
	.explain {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		align-content: space-between;
		align-items: flex-start;
		
		h3 {
			display: flex;
			justify-content: center;
		}
		
		.text-content {
			display: flex;
			flex-flow: column nowrap;
			justify-content: center;
			align-content: space-between;
			align-items: flex-start;
			width: 80%;
		}
	}
}

.storiesContainer {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-content: center;
	padding: 20px 0;
	margin: 20px 0;
	
	@media (min-width: 500px) {
		flex-flow: column wrap;
		justify-content: center;
	}
	
	@media (min-width: 800px) {
		flex-flow: column wrap;
		justify-content: center;
	}
	
	h2 {
		display: flex;
		justify-content: center;
	}
	
	.storiesHead {
		display: flex;
		flex-flow: column nowrap;
		justify-content: flex-start;
		align-content: center;
		align-items: center;
	
		.headTxt {
			display: flex;
			flex-flow: column nowrap;
			justify-content: flex-start;
			align-content: center;
			align-items: center;
			width: 80%;
		}
	}
	
	.stories-section {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		align-content: space-between;
		align-items: flex-start;
		
		img {
			max-height: auto;
			max-width: 30%;
			border-radius: 10px;
		}
		
//		@media (min-width: 500px) {
//			flex-flow: column nowrap;
//			justify-content: space-between;
//		}
//		
//		@media (min-width: 800px) {
//			flex-flow: column nowrap;
//		}
		
		
		.story1 .story2 .story3 {
			display: flex;
			flex-flow: column wrap;
			justify-content: center;
			align-content: space-between;
			align-items: flex-start;
			max-width: 30%;
			padding: 2%;
			background: @green-blue;
		}
	}
	
}


.btn {
	.signMeUp (center, space-around, center);
	background: @nav-gradient;
	border: 2px solid @nav-gradient;
	border-radius: 10px;
	padding: 10px 20px;
	margin: 20px 42.5%;
	width: 200px;
	height: 75px;
	font-size: 2rem;
	font-weight: bolder;
	color: @nav-font;
	box-shadow: 3px 3px 3px 3px @gray-asparagus;
	
	&:hover {
		background: @nav-gradient-rev;
	}
}